npm-debug.log
yarn-error.log
package-lock.json
_server.js
_vueApp.js
.DS_Store
node_modules/
dist/
logs/
.github/
server/config-private.js
server/keys/
mochawesome-report/
old&remove/
out/
.idea
*.iml
